* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

#game {
    width: 1000px;
    height: 360px;
    border: 2px solid black;
    position: relative;
    /* background: url(./bg.png); */
    background-size: cover;
}

#character #dino {
    width: 60px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 100px;
}

#game-over {
    position: absolute;
    top: 20%;
    left: 25%;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}

#game-over h1, #game-over h2 {
    font-size: 48px;
}

#block {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: blueviolet;
    animation-delay: 1s;
    position: absolute;
    bottom: 0;
    right: 40px;
}

.startMoving {
    animation: tree 2s infinite linear;
}

.score {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 24px;
}

#start {
    border: none;
    cursor: pointer;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px 32px;
    font-size: 18px;
    border: none;
    color: green;
    font-weight: 600;
    z-index: 5;
}

.reload {
    color: red !important;
}

@keyframes tree {
    0% {
        right: 40px;
    } 100% {
        right: 100%;
    }
}

@keyframes jump {
    0% {bottom: 0;}
    20% {bottom: 70px;}
    40% {bottom: 100px;}
    60% {bottom: 90px;}
    80% {bottom: 50px;}
    100% {bottom: 0;}
}